@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f9ff;
  color: #1e293b;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}